@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,300;1,700&display=swap');


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #6c54d8;
  color: #fff;
}


a {
  color: inherit;
  text-decoration: none;
}


* {
  box-sizing: border-box;
  font-family: 'Poppins' sans-serif;
}