.resposta {
    display: flex;
    min-width: 500px;
    width: 80%;
    height: 80px;
    margin: 10px;
    perspective: 1000px;
}


.conteudoResposta {
    position: relative;
    display: flex;
    flex: 1;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.respostaRevelada.conteudoResposta {
    transform: rotateY(180deg);
}


.frente,
.verso {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.frente {
    align-items: center;
    border-radius: 12px;
    color: #000;
    background-color: #fff;
    padding: 15px;
}


.verso {
    transform: rotateY(180deg);
}


.verso>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 12px;
}


.certa {
    background-color: #2a6346;
}


.errada {
    background-color: #E44A4C;
}


.certa .valor,
.errada .valor {
    font-size: 2.5rem;
}


.letra {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 20px;
}